<div id="page-info" class="guncontrol"></div>

<nav id="titleBar" class="navbar navbar-expand-lg navbar-light titleBar mb-5">

    <div class="reference">
      <div class="popout-menu">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            {{#if user}}
            <a class="nav-link" id="logOut" href="/logout" onclick="">Log Out</a>
            {{else}}
            <p>Please <a href="/login">log in</a>.</p>
            {{/if}}
          </li>

          <li class="nav-item">
            {{#if user}}
            <a class="nav-link" id="logOut" href="/account" onclick="">Profile</a>
            {{/if}}
          </li>

          <li class="nav-item">          
            <a class="nav-link" id="logOut" href="/" onclick="">Home</a>
          </li>

        </ul>
      </div>
    </div>
    <ul class="navbar-nav abs-center-x">
      <li class="nav-item">
        <a id="titleLogo" class="navbar-brand gradient-text mb-3" href="/">GUN CONTRTOL SCRAP</a>
      </li>
    </ul>
  </nav>

    <div class="container">

        <div class="row">

            <div class="col-5">
                <div id="sideBar">
                    <h3>Current Scraps</h3>
                    <div id="row">

                        <div class="col-12">

                            <div class="card">
                                <div class="card-body">
                                    <a class="link" href="/flatearth">
                                        <h5  class="card-title">Flat Earth</h5>
                                    </a>
                                    <h6 class="card-subtitle mb-2 text-light">Users Online:</h6>
                                </div>
                            </div>
                        </div>
                        <br>


                        <div class="col-12">

                            <div class="card">
                                <div class="card-body">
                                    <a class="link" href="/vaccines">
                                        <h5 class="card-title">Vaccines</h5>
                                    </a>
                                    <h6 class="card-subtitle mb-2 text-light">Users Online:</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                

            <div class="col-6">
                <div id="chat" class="chat">
                    <div id="output"></div>
                    <div id="feedback"></div>
                </div>
                <form action="" id="messageForm">
                    <div class="form-group">
                        <p>&nbsp;<span id="current-users"></span></p>
                        <input id="displayName" class="form-control" placeholder="Display Name" value={{ user.username }}></input>
                        <br>
                        <textarea id="message" class="form-control" placeholder="Enter Message"></textarea>
                        <br>
                        <input id="send" type="submit" class="btn btn-danger" value="Send Message">

                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/../socket.io/socket.io.js"></script>
    <script type="module" src="/js/guncontrol.js"></script>