<div class="container">


    <div class="row">
        <div class="col-12">
            <h1>Politics Page</h1>
        </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <a href="">
          <div class="card">
            <div class="card-body">
              Trump<br>
              {{ trump }} people scrapping
            </div>
          </div>
        </a>
      </div>
    </div>
    
    <div class="row mt-2">
      <div class="col-12">
        <a href="">
          <div class="card">
            <div class="card-body">
              Hillary<br>
              {{ hillary }} people scrapping
            </div>
          </div>
        </a>
      </div>
    </div>



</div>