<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Science Page</h1>
        </div>
    </div>

     <div class="row mt-2">
      <div class="col-12">
        <a href="">
          <div class="card">
            <div class="card-body">
              Flat Earth<br>
              {{ flatEarth }} people scrapping
            </div>
          </div>
        </a>
      </div>
    </div>


     <div class="row mt-2">
      <div class="col-12">
        <a href="">
          <div class="card">
            <div class="card-body">
              Aliens<br>
              {{ aliens }} people scrapping
            </div>
          </div>
        </a>
      </div>
    </div>
</div>