<div class="row spacer">
    <nav id="titleBar" class="navbar navbar-expand-lg navbar-light titleBar mb-5">
        <ul class="navbar-nav abs-center-x">

            <li class="nav-item">
                <h2 id="titleLogo" class=" main-logo navbar-brand gradient-text">ACCOUNT INFO</h2>
            </li>

        </ul>
    </nav>
    <aside class="col-sm-4"></aside>
    <aside class="col-sm-4 mt-5">


        <div class="card main-card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1 display-5 signs">Update Information</h4>
                <div class="input-group mb-3">
                    <input id="username" type="text" class="form-control" placeholder="New username"
                        aria-label="New username" aria-describedby="save-username">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="save-username">Save</button>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input id="email" type="text" class="form-control" placeholder="New email"
                        aria-label="New email" aria-describedby="save-email">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="save-email">Save</button>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input id="password" type="text" class="form-control" placeholder="New password"
                        aria-label="New password" aria-describedby="save-password">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="save-password">Save</button>
                    </div>
                </div>

                
            </article>
        </div>
    </aside>
    <aside class="col-sm-4"></aside>
</div>

<script src="/js/userprefs.js"></script>